
<!--Import necessary libaries, some css file are placed at default -->
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>


<br>
<center>
    <div id="share"></div>
</center>
<br>


<script>
    // jquery to set up social sharing 
    $("#share").jsSocials({
    text: "Ideas are powerful, share great communication ideas with your friends & family",
    showLabel: true,
    shares: ["whatsapp","twitter", "facebook",  "linkedin"]
    });
</script>

